<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/public/stylessheets/styles.css" media="screen">
</head>
<body>
        <div class="footer">
            <a href="https://fetch.com/"><img alt="logoimg" class="footerlogo"
                    src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/669d5713-9b6a-46bb-bd7e-c542cff6dd6a/a8154cab5f1b44d7828db857ef3be885/Fetch_Logo_Primary_Stacked.png"></a>
            <p> ©2023 Fetch Rewards, Inc. All rights reserved.</p>
            <div class="footertext">
                <p class="p1"> 1050 E Washington Ave.</p> &nbsp;<p>2nd FI, Madison, WI 53703.
            </div>
            </p>
        </div>
</body>
</html>