<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylessheets/styles.css" media="screen">
</head>
<body>
        <div class="header">
            <script id="entry-template" type="text/x-handlebars">
                <div>
                    <h1 id="resultAge">You Have {{ resultAge }}! </h1>
                    <button> Ok </button>
                </div>
            </script>
            <a href="https://fetch.com/"><img class="logo" alt="logoimg"
                    src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/669d5713-9b6a-46bb-bd7e-c542cff6dd6a/a8154cab5f1b44d7828db857ef3be885/Fetch_Logo_Secondary_Horizontal.png"></a>
            <a href="https://fetch.com/"><img class="desktopimg" alt="headerimg"
                    src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/669d5713-9b6a-46bb-bd7e-c542cff6dd6a/a8154cab5f1b44d7828db857ef3be885/DESKTOP_HDR_1.png"></a>
            <p class="textone">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
        </div>
</body>
</html>