<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>socialmedia</title>
</head>
<body>
    <div class="socialmedia" id="sm"></div>
    <div class="socialmedia" id="smm"></div>

     {{!- menos de 35: tiktok, instagram, x, facebook (age < 35)--}}   
    <div class="socialmedia" id="sm1">
            <a href="https://fetch.com/"><img alt="tiktokimg"
                    src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/669d5713-9b6a-46bb-bd7e-c542cff6dd6a/a8154cab5f1b44d7828db857ef3be885/editor_images/DSN2-6828%20%20%20Social%20Invite%20Email%20Refresh_MODULE_TIKTOK_MOBILE.ENG%20%282%29.png"></a>
            <a href="https://fetch.com/"><img alt="instagramimg"
                    src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/669d5713-9b6a-46bb-bd7e-c542cff6dd6a/a8154cab5f1b44d7828db857ef3be885/editor_images/DSN2-6828%20%20%20Social%20Invite%20Email%20Refresh_MODULE_INSTAGRAM_MOBILE.ENG%20%281%29_1.png"></a>
            <a href="https://fetch.com/"><img alt="ximg"
                    src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/669d5713-9b6a-46bb-bd7e-c542cff6dd6a/a8154cab5f1b44d7828db857ef3be885/editor_images/DSN2-6828%20%20%20Social%20Invite%20Email%20Refresh_MODULE_X_MOBILE.ENG_1.png"></a>
            <a href="https://fetch.com/"><img alt="facebookimg"
                    src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/669d5713-9b6a-46bb-bd7e-c542cff6dd6a/a8154cab5f1b44d7828db857ef3be885/editor_images/DSN2-6828%20%20%20Social%20Invite%20Email%20Refresh_MODULE_FACEBOOK_MOBILE.ENG%20%281%29.png"></a>
    </div>
    {{!- de 35 a 55: instagram, x, tiktok, facebook,  age > 35 && age <=55-}}
    <div class="socialmedia" id="sm2">
            <a href="https://fetch.com/"><img alt="instagramimg"
                    src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/669d5713-9b6a-46bb-bd7e-c542cff6dd6a/a8154cab5f1b44d7828db857ef3be885/editor_images/DSN2-6828%20%20%20Social%20Invite%20Email%20Refresh_MODULE_INSTAGRAM_MOBILE.ENG%20%281%29_1.png"></a>
            <a href="https://fetch.com/"><img alt="ximg"
                    src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/669d5713-9b6a-46bb-bd7e-c542cff6dd6a/a8154cab5f1b44d7828db857ef3be885/editor_images/DSN2-6828%20%20%20Social%20Invite%20Email%20Refresh_MODULE_X_MOBILE.ENG_1.png"></a>
            <a href="https://fetch.com/"><img alt="tiktokimg"
                    src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/669d5713-9b6a-46bb-bd7e-c542cff6dd6a/a8154cab5f1b44d7828db857ef3be885/editor_images/DSN2-6828%20%20%20Social%20Invite%20Email%20Refresh_MODULE_TIKTOK_MOBILE.ENG%20%282%29.png"></a>
            <a href="https://fetch.com/"><img alt="facebookimg"
                    src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/669d5713-9b6a-46bb-bd7e-c542cff6dd6a/a8154cab5f1b44d7828db857ef3be885/editor_images/DSN2-6828%20%20%20Social%20Invite%20Email%20Refresh_MODULE_FACEBOOK_MOBILE.ENG%20%281%29.png"></a>
    </div>
    {{!- cualquier otro: facebook, x, instagram, tiktok else-}}
    <div class="socialmedia" id="sm3">
            <a href="https://fetch.com/"><img alt="facebookimg"
                    src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/669d5713-9b6a-46bb-bd7e-c542cff6dd6a/a8154cab5f1b44d7828db857ef3be885/editor_images/DSN2-6828%20%20%20Social%20Invite%20Email%20Refresh_MODULE_FACEBOOK_MOBILE.ENG%20%281%29.png"></a>
            <a href="https://fetch.com/"><img alt="ximg"
                    src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/669d5713-9b6a-46bb-bd7e-c542cff6dd6a/a8154cab5f1b44d7828db857ef3be885/editor_images/DSN2-6828%20%20%20Social%20Invite%20Email%20Refresh_MODULE_X_MOBILE.ENG_1.png"></a>
            <a href="https://fetch.com/"><img alt="instagramimg"
                    src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/669d5713-9b6a-46bb-bd7e-c542cff6dd6a/a8154cab5f1b44d7828db857ef3be885/editor_images/DSN2-6828%20%20%20Social%20Invite%20Email%20Refresh_MODULE_INSTAGRAM_MOBILE.ENG%20%281%29_1.png"></a>
            <a href="https://fetch.com/"><img alt="tiktokimg"
                    src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/669d5713-9b6a-46bb-bd7e-c542cff6dd6a/a8154cab5f1b44d7828db857ef3be885/editor_images/DSN2-6828%20%20%20Social%20Invite%20Email%20Refresh_MODULE_TIKTOK_MOBILE.ENG%20%282%29.png"></a>
    </div>

</body>
</html>